@using GideonMarket.Web.Client.Pages.Login
<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <NotAuthorized>
                <RedirectToLogin />
            </NotAuthorized>
        </AuthorizeRouteView>
    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <LayoutView Layout="@typeof(EmptyLayout)">
                <p>Извините, по этому адресу ничего нет.</p>
            </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>
</Router>