@page "/productType"
@using GideonMarket.Web.Pages
 
<div class="h3">Тип продукта</div>

@using Syncfusion.Blazor.Grids

<SfGrid DataSource="@Data" AllowPaging="true" Toolbar="@(new List<string>() { "Add", "Edit", "Delete", "Cancel", "Update" })" Height="315">
    <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" ShowDeleteConfirmDialog="true"></GridEditSettings>
    @*<GridEvents OnActionComplete="ActionComplete" TValue="ProductTypeViewModel"></GridEvents>*@
    <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" Mode="EditMode.Normal"></GridEditSettings>
    <GridColumns>
        <GridColumn Field=@nameof(ProductTypeViewModel.Id) HeaderText="ID" IsPrimaryKey="true" ValidationRules="@(new ValidationRules{ Required=true})" TextAlign="TextAlign.Right" Width="120"></GridColumn>
        <GridColumn Field=@nameof(ProductTypeViewModel.Name) HeaderText="Имя" ValidationRules="@(new ValidationRules{ Required=true})" Width="120"></GridColumn>
    </GridColumns>
</SfGrid>

@code{
    [Inject]
    public HttpClient client { get; set; }
    public List<ProductTypeViewModel> Data { get; set; }
    EditModified editType;
    protected async override Task OnInitializedAsync()
    {
        Data = await client.GetFromJsonAsync<List<ProductTypeViewModel>>("/api/productType");
    }
    //public async void ActionComplete(ActionEventArgs<ProductTypeViewModel> args)
    //{
    //    if (args.RequestType == Syncfusion.Blazor.Grids.Action.BeginEdit)
    //    {
    //        editType = EditModified.Updated;
    //    }
    //    else if (args.RequestType == Syncfusion.Blazor.Grids.Action.Add)
    //    {
    //        editType = EditModified.Added;
    //    }
    //    else if (args.RequestType == Syncfusion.Blazor.Grids.Action.Save)
    //    {
    //        if (editType == EditModified.Added)
    //        {
    //            var result = await client.PostAsJsonAsync<string>("/api/productType", args.Data.Name);

    //        }
    //        else if(editType == EditModified.Updated)
    //        {
    //            var result = await client.PutAsJsonAsync<string>($"/api/productType/{args.Data.Id}", args.Data.Name);
    //        }
    //    }
    //    else if (args.RequestType == Syncfusion.Blazor.Grids.Action.Delete)
    //    {
    //        await client.DeleteAsync($"/api/productType/{args.Data.Id}");
    //    }
    //}
 
}