@page "/Config"

@using GideonMarket.Web.Client.Pages.Components.Unit
@using GideonMarket.Web.Client.Pages.Components.Customer
@using GideonMarket.Web.Client.Pages.Components.Product
@using GideonMarket.Web.Client.Pages.Components.ProductType
@using GideonMarket.Web.Client.Pages.Components.Place
@using GideonMarket.Web.Client.Pages.Components.Supplier 

<h4>Настройки</h4>

<!-- RH: this is bootstrap 5 tabbed panel -->
@*<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...11</div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...22</div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...33</div>
</div>

@using GideonMarket.Web.Client.Pages.Components.TabControlCmpt

<TabControl>
    <TabPage Text="Единица измерения">
        <UnitCmpt />
    </TabPage>
    <TabPage Text="Тип продукта">
        <ProductTypeCmpt />
    </TabPage>
    <TabPage Text="Продукты">
        <ProductCmpt />
    </TabPage>
    <TabPage Text="Клиенты">
        <CustomerCmpt />
    </TabPage>
</TabControl>

<br/>*@
@using Syncfusion.Blazor.Navigations
<div class="e-sample-resize-container">
    <SfTab CssClass="default-tab">
        <TabItems>
            <TabItem>
                <ChildContent>
                    <TabHeader Text="Места" IconCss="e-whatsapp"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    <PlaceCmpt />
                </ContentTemplate>
            </TabItem>
            <TabItem>
                <ChildContent>
                    <TabHeader Text="Единица измерения" IconCss="Bullet_6"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    <UnitCmpt />
                </ContentTemplate>
            </TabItem>
            <TabItem>
                <ChildContent>
                    <TabHeader Text="Тип продукта" IconCss="e-facebook"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    <ProductTypeCmpt></ProductTypeCmpt>
                </ContentTemplate>
            </TabItem>
            <TabItem>
                <ChildContent>
                    <TabHeader Text="Продукты" IconCss="e-whatsapp"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    <ProductCmpt />
                </ContentTemplate>
            </TabItem>
            <TabItem>
                <ChildContent>
                    <TabHeader Text="Клиенты" IconCss="e-whatsapp"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    <CustomerCmpt />
                </ContentTemplate>
            </TabItem>
            <TabItem>
                <ChildContent>
                    <TabHeader Text="Поставщики" IconCss="e-whatsapp"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    <SupplierCmpt />
                </ContentTemplate>
            </TabItem>

        </TabItems>
    </SfTab>
</div>


@code {

}
