@page "/Config"

@using GideonMarket.Web.Client.Pages.Components.Unit
@using GideonMarket.Web.Client.Pages.Components.Customer
@using GideonMarket.Web.Client.Pages.Components.Product
@using GideonMarket.Web.Client.Pages.Components.ProductType
@using GideonMarket.Web.Client.Pages.Components.Place
@using GideonMarket.Web.Client.Pages.Components.Supplier 

<h4>Настройки</h4>



@code {

}
